.termsContainer {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  max-width: 1200px;
  margin-inline: auto;
}

.termsContainer h1 {
  color: #17355d;
  font-size: 24px;
  margin-bottom: 16px;
}

.termsContainer h2 {
  color: #17355d;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 10px;
}

.termsContainer p {
  color: #17355d;
  text-align: justify;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 10px;
}
