.newsletterSignup {
  padding: 40px 35px;
}

.newsletterContent {
  margin-bottom: 40px;
}

.newsletterContent h2 {
  color: #000;
  text-align: center;
  font-family: Albert Sans;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.newsletterContent p {
  color: #000;
  font-family: Albert Sans;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.links {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #000;
}

.link,
.links span {
  text-decoration: none;
  color: #000;
  font-family: Albert Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.inputContainer {
  position: relative;
  background: #fff;
  padding: 10px;
  border-radius: 74px;
  overflow: hidden;
}

.inputContainer input[type="email"] {
  width: 100%;
  padding-left: 70px;
  border: none;
  font-size: 18px;
  outline: none;
  line-height: 18px;
}

.emailIcon {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.5);
  width: 18px;
}

.consent {
  padding: 25px 36px;
  display: flex;
  gap: 10px;
}

.consent label {
  margin-left: 6px;
  color: #000;
  font-family: Albert Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: inline-block;
}

.submitButton {
  color: #fff;
  font-family: Albert Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px 25px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 60px;
  background: linear-gradient(
    271deg,
    #2d6465 -11.45%,
    #3a806b -11.45%,
    #67de7f 123.02%
  );
  width: 100%;
  margin-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .newsletterSignupContainer {
    max-width: 624px;
    margin: 0 auto;
  }

  .submitButton {
    max-width: max-content;
    margin: 0 auto;
  }

  .formFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .consent label {
    margin-left: 6px;
    margin-right: 130px;
  }
}

@media screen and (min-width: 1200px) {
  .newsletterSignup {
    max-width: 1500px;
    margin: 0 auto;
    border-radius: 19px;
  }
  .newsletterSignupContainer {
    max-width: 100%;
    display: grid;
    grid-template-columns: 45% 65%;
    column-gap: 80px;
    padding: 70px 125px;
    align-items: center;
  }
  .newsletterContent h2,
  .newsletterContent p {
    text-align: left;
  }

  .links {
    justify-content: start;
  }

  .signupForm {
    max-width: 624px;
    margin-right: 0;
  }
}
