/* Base Styles */
.featured-post-container {
  max-width: 1728px;
  width: 100%;
  margin: 0 auto;
  padding: 0 45px;
}

.featured-post {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-radius: 38px;
  overflow: hidden;
}

.featured-image {
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.featured-post::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 8px;
}

.featured-post-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 2;
  padding: 75px;
}

.featured-post-text {
  flex: 1;
  margin-right: 20px;
}

.post-button-container {
  flex-shrink: 0;
}

.featured-post-meta {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 0.85rem;
  line-height: 24px;
}

.featured-post-date, .featured-reading-time {
  display: flex;
  align-items: center;
}

.clock-icon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  vertical-align: middle;
}

.featured-post-title {
  font-size: 34px;
  margin-bottom: 10px;
  width: 80%;
}

.featured-post-excerpt-container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.featured-post-excerpt {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 2rem;
  margin-top: 20px;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .featured-post-content {
    padding: 60px;
  }

  .featured-post-title {
    font-size: 2.8rem;
  }

  .featured-post-excerpt {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .featured-post-content {
    padding: 40px;
  }

  .featured-post-title {
    font-size: 2.5rem;
  }

  .featured-post-excerpt {
    font-size: 1.1rem;
  }

  .featured-post-meta {
    gap: 15px;
    font-size: 0.75rem;
  }

  .clock-icon {
    width: 12px;
    height: 12px;
  }

  .post-read-more img{
    height: 64px;
    width: 64px;
  }
}

@media screen and (max-width: 480px) {
  .featured-post-container {
    padding: 0;
  }

  .featured-post {
    border-radius: 0;
  }

  .featured-post::after {
    border-radius: 0;
  }

  .featured-image {
    height: 100vh;
  }

  .featured-post-content {
    padding: 20px;
  }

  .featured-post-title {
    font-size: 2rem;
    width: 100%;
  }

  .featured-post-excerpt {
    font-size: 1rem;
  }

  .featured-post-meta {
    gap: 10px;
    font-size: 0.7rem;
  }

  .clock-icon {
    width: 10px;
    height: 10px;
  }

  .featured-post-text {
    margin-right: 10px;
  }

  .featured-post-excerpt-container {
    gap: 10px;
  }

  .post-read-more img{
    height: 44px;
    width: 44px;
  }
}
