.dashboardViews {
  margin: 100px auto;
  padding: 0;
}

.appView {
  background: url("/images/dashboard-view-mobile.svg") no-repeat center center /
    contain;
  height: 400px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .dashboardViews {
    padding: 0 30px;
  }
  .appView {
    background-image: url("/images/dashboard-view-desktop.svg");
    height: 450px;
  }
}

@media screen and (min-width: 1024px) {
  .dashboardViews {
    padding: 0 30px;
  }
  .appView {
    background-image: url("/images/dashboard-view-desktop.svg");
    height: 550px;
  }
}

@media screen and (min-width: 1200px) {
  .dashboardViews {
    margin: 100px auto;
    padding: 0;
  }
  .appView {
    background-image: url("/images/dashboard-view-desktop.svg");
    height: 888px;
  }
}
