.dashboard {
  padding: 0 30px;
}

/* .graphCard {
  width: 100%;
} */

.graphImage {
  width: 100%;
  height: 100%;
}

.mainTitle {
  color: #17355d;
  text-align: center;
  font-family: Albert Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}

.description {
  color: #000;
  font-family: Albert Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
}

.benefitItem {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.benefitItemTitle {
  color: #17355d;
  font-family: Albert Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 1024px) {
  .infoSection {
    max-width: 693px;
    margin: 0 auto;
  }

  .benefits {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .dashboard {
    padding: 0 30px;
  }

  .graphSection {
    display: flex;
  }

  .graphImage {
    max-width: 878px;
  }

  .infoSection {
    max-width: 493px;
    flex-shrink: 0;
    flex-grow: 1;
  }

  .mainTitle {
    color: #17355d;
    text-align: left;
    font-family: Albert Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
  }

  .description {
    color: #000;
    font-family: Albert Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-bottom: 40px;
  }

  .benefitItem {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .benefitItemTitle {
    color: #17355d;
    font-family: Albert Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
