.eReferralsSection {
  padding: 0 30px;
}

.eReferralsSection h2 {
  text-align: center;
  color: #17355d;
  text-align: center;
  font-family: Albert Sans;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 35px;
}

.toggleButtons {
  border-radius: 60px;
  border: 3px solid #204972;
  margin-bottom: 60px;
  padding: 4px;
  display: flex;
}

.toggleBtn {
  flex: 1;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  background-color: transparent;
  min-width: max-content;
}

.active {
  color: #fff;
  background: linear-gradient(273deg, #173658 -9.62%, #418fd2 53.9%);
}

.imageContainer {
  position: relative;
  margin-bottom: 60px;
}

.advancedSearch {
  text-align: center;
}

.advancedSearch h3 {
  color: #17355d;
  text-align: center;
  font-family: Albert Sans;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.advancedSearch p {
  color: #17355d;
  font-family: Albert Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
}

.buttonInterested {
  color: #fff;
  font-family: Albert Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px 25px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 60px;
  background: linear-gradient(
    271deg,
    #2d6465 -11.45%,
    #3a806b -11.45%,
    #67de7f 123.02%
  );

  margin-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .eReferralsSection {
    padding: 100px 30px;
  }

  .toggleButtons {
    max-width: 568px;
    margin: 0 auto;
  }

  .buttonInterested {
    max-width: max-content;
    margin: 0 auto;
  }

  .imageContainer {
    text-align: center;
    padding-top: 50px;
  }
  .imageContainer img {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .advancedSearch {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .ereferralInfo {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .imageContainer img {
    width: 100%;
  }

  .imageContainer,
  .advancedSearch {
    flex: 1;
  }

  .advancedSearch h3,
  .advancedSearch p {
    text-align: left;
  }

  .buttonInterested {
    max-width: max-content;
    margin: 0;
  }
}
