* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background: linear-gradient(
      196deg,
      rgba(98, 211, 146, 0.1) 0%,
      rgba(70, 153, 248, 0.1) 100%
    ),
    #fff;
}

.container {
  max-width: 1728px;
  width: 100%;
  margin: 0 auto;
  padding: 0 45px;
}

.recent-blog-title {
  font-size: 34px;
  font-weight: 700;
  padding: 50px 0;
}

.no-default-style {
  color: inherit;
  text-decoration: none;
}

.no-default-style:hover,
.no-default-style:focus,
.no-default-style:active {
  text-decoration: none;
}
