@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500;600;700;800;900&family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-primary {
  border-radius: 60px;
  background: linear-gradient(
    271deg,
    #2d6465 -11.45%,
    #3a806b -11.45%,
    #67de7f 123.02%
  );
  color: white;
  border: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      196deg,
      rgba(98, 211, 146, 0.1) 0%,
      rgba(70, 153, 248, 0.1) 100%
    ),
    #fff;
  max-width: 1728px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1728px;
  margin: 0 auto;
  background: linear-gradient(
      196deg,
      rgba(98, 211, 146, 0.1) 0%,
      rgba(70, 153, 248, 0.1) 100%
    ),
    #fff;
}

.container {
  width: calc(100% - 110px);
  max-width: 1500px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border-radius: 50px;
  padding: 10px 25px;
}

.heading {
  color: #17355d;
  text-align: center;
  font-family: Albert Sans;
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
}

.description {
  color: #17355d;
  font-family: Albert Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

@media screen and (max-width: 600px) {
  .heading {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
  }

  .description {
    font-size: 16px;
    line-height: 24px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }
}
