.heroSection {
  position: relative;
  overflow: hidden;
}

.heroSection::before,
.heroSection::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  filter: blur(86px);
  z-index: 1;
}

.heroSection::before {
  top: 17%;
  left: 10%;
  width: 163px;
  height: 131px;
  background: #5cc6ab;
  margin-bottom: 20px;
}

.heroSection::after {
  top: 15%;
  right: 20%;
  width: 107px;
  height: 86px;
  background: #479af8;
}

.subTitle,
.mainTitle {
  color: #17355d;
  font-family: "Albert Sans", sans-serif;
  text-align: center;
  font-weight: 600;
}

.subTitle {
  font-size: 30px;
}

.mainTitle {
  font-size: 44px;
}

.description {
  color: #8192a5;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.textContainer {
  margin-block: 34px;
  padding: 0 43px;
}

.heroImageContainer {
  position: relative;
  width: 100%;
  height: 345px;
  z-index: 3;
}

.heroImage {
  object-fit: cover;
}

.cta {
  padding-inline: 30px;
}

.ctaButton {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  background: linear-gradient(
    271deg,
    #2d6465 -11.45%,
    #3a806b -11.45%,
    #67de7f 123.02%
  );
  color: #fff;
  font-family: "Albert Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

@media (min-width: 768px) {
  .heroSection::before {
    width: 263px;
    height: 200px;
  }

  .heroSection::after {
    right: 15%;
    width: 177px;
    height: 120px;
  }

  .heroImageContainer {
    height: 545px;
  }

  .subTitle {
    font-size: 32px;
  }

  .mainTitle {
    font-size: 46px;
  }

  .textContainer {
    margin-block: 34px;
    padding: 0 43px;
  }

  .ctaButton {
    max-width: max-content;
    margin-inline: auto;
  }
}

/* Media queries for desktop */
@media (min-width: 992px) {
  .heroSection {
    max-width: 1147px;
    margin-inline: auto;
    display: grid;
  }

  .heroHeader {
    order: -1;
    margin-bottom: -50px;
  }

  .heroSection::before {
    top: 35%;
    width: 344px;
    height: 277px;
  }

  .heroSection::after {
    top: 35%;
    right: 25%;
    width: 227px;
    height: 183px;
  }

  .subTitle {
    font-size: 36px;
  }

  .mainTitle {
    font-size: 50px;
  }

  .description {
    color: #8192a5;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }

  .textContainer {
    margin-block: 34px;
    padding: 0 43px;
    max-width: 865px;
    margin-inline: auto;
  }

  .heroImageContainer {
    width: 100%;
    max-width: 970px;
    height: 728px;
    max-height: 728px;
    z-index: 3;
    margin-inline: auto;
    margin-bottom: -100px;
  }

  .heroImage {
    object-fit: cover;
  }
}
