.heroSection {
  position: relative;
  text-align: center;
  display: block;
  min-height: 900px;
}

.imageContainer {
  background-image: url("/home/mobile-hero.webp");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-mask-image: linear-gradient(to top, transparent, black 100%);
  mask-image: linear-gradient(to top, transparent, black 100%);
  height: 492px;
}

.contentContainer {
  padding: 0 30px;
  position: absolute;
  bottom: 18%;
}

.contentContainer h1 {
  color: #17355d;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 20px;
}

.contentContainer p {
  color: #17355d;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonLearnMore {
  max-width: max-content;
  margin: 0 auto;
  color: #17355d;
  text-align: center;
  font-family: Albert Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px 25px;
  border-radius: 60px;
  border: 2px solid #17355d;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 42px;
}

.buttonInterested {
  color: #fff;
  font-family: Albert Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px 25px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 60px;
  background: linear-gradient(
    271deg,
    #2d6465 -11.45%,
    #3a806b -11.45%,
    #67de7f 123.02%
  );
}

@media screen and (min-width: 768px) {
  .imageContainer {
    background-image: url("/home/desktop-hero.webp");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-mask-image: linear-gradient(to top, transparent, black 100%);
    mask-image: linear-gradient(to top, transparent, black 100%);
    height: 592px;
  }

  .buttonsContainer {
    position: relative;
    margin-top: 30px;
  }

  .buttonInterested {
    max-width: max-content;
    margin: 0 auto;
  }

  .buttonLearnMore {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 1024px) {
  .heroSection {
    position: relative;
    text-align: center;
    display: block;
    min-height: 700px;
  }

  .contentContainer {
    padding: 0 30px;
    position: absolute;
    bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .heroSection {
    position: relative;
    text-align: center;
    display: block;
    min-height: 900px;
  }

  .imageContainer {
    -webkit-mask-image: none;
    mask-image: none;
    height: 916px;
    padding: 0 50px;
    border-radius: 22px;
    background-color: lightgray 50% / cover no-repeat;
  }

  .contentContainer {
    position: absolute;
    bottom: 15%;
    left: 50%;
    max-width: 90%;
    margin: 0 auto;
    transform: translateX(-50%);
    border-radius: 19px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    padding: 60px 90px;
    width: 90%;
    max-width: 1048px;
  }
}
