.app-view {
  width: 100%;
  margin: 150px auto;
  position: relative;
  padding: 0 37px;
}

.app-view img {
  width: 100%;
  display: block;
  margin: auto;
}

.app-view img {
  width: 100%;
  display: none;
}

/* Large screens ke liye */
@media (min-width: 768px) {
  .app-view img.desktop {
    display: block; /* Sirf desktop image show hogi */
  }
}

@media screen and (max-width: 600px) {
  .app-view {
    width: 100%;
    margin: 0;
    position: relative;
    padding: 0;
  }
  .app-view img.mobile {
    display: block;
  }
}
