#hero {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 37px;
}

.desktop-hero {
  display: block;
  width: 100%;
  object-fit: cover;
}

.mobile-hero {
  display: none;
}

.hero-content {
  border-radius: 19px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  width: 100%;
  max-width: 1048px;
  margin: 0 auto;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.button-container {
  text-align: center;
  position: relative;
}

.button-interested {
  display: inline-flex;
  height: 50px;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 60px;
  background: linear-gradient(
    271deg,
    #2d6465 -11.45%,
    #3a806b -11.45%,
    #67de7f 123.02%
  );
  border: transparent;
  color: #fff;
  font-family: Albert Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.button-learn-more {
  position: absolute;
  left: 0;
  border-radius: 60px;
  border: 2px solid #17355d;
  color: #17355d;
  text-align: center;
  font-family: Albert Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px 25px;
}

@media screen and (max-width: 600px) {
  .desktop-hero {
    display: none;
    width: 100%;
    object-fit: cover;
  }

  #hero {
    background-color: white;
    height: 900px;
    padding: 0;
  }

  .mobile-hero {
    display: block;
    width: 100%;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient (black, transparent);
  }

  .hero-content {
    padding: 26px;
    text-align: center;
    position: absolute;
    bottom: -40%;
    color: #17355d;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 0px;
    background-color: none;
    backdrop-filter: none;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }

  .button-interested {
    display: block;
    width: 100%;
    border: transparent;
    color: #fff;
    font-family: Albert Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }

  .button-learn-more {
    border: 2px solid #17355d;
    color: #17355d;
    text-align: center;
    font-family: Albert Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    width: 60%;
    position: static;
  }
}

@media screen and (max-width: 768px) {
  .desktop-hero {
    display: none;
    width: 100%;
    object-fit: cover;
  }

  #hero {
    background-color: white;
    /* height: 500px; */
    padding: 0;
    position: static;
  }

  .mobile-hero {
    display: block;
    width: 100%;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient (black, transparent);
    height: 800px;
    object-fit: cover;
  }

  .hero-content {
    padding: 26px;
    text-align: center;
    position: absolute;
    bottom: -30%;
    color: #17355d;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 0px;
    background: none;
    backdrop-filter: none;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }

  .button-interested {
    display: block;
    width: 100%;
    border: transparent;
    color: #fff;
    font-family: Albert Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }

  .button-learn-more {
    border: 2px solid #17355d;
    color: #17355d;
    text-align: center;
    font-family: Albert Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    width: 60%;
    position: static;
  }
}
