.newsletter {
  background: linear-gradient(
    270deg,
    rgba(103, 222, 127, 0.2) 0%,
    rgba(62, 137, 217, 0.2) 100%
  );
  border-radius: 19px;
  padding: 70px 130px;
  display: flex;
  gap: 100px;
  align-items: center;
  width: 100%;
}

.newsletter-content {
  flex: 1;
  color: #000;
  font-family: Albert Sans;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.newsletter-content h4 {
  font-size: 40px;
  font-weight: 700;
}

.newsletter-content p {
  font-size: 24px;
  font-weight: 400;
}

.terms {
  display: flex;
  gap: 10px;
  align-items: center;
}

.terms a {
  color: #000;
  font-family: Albert Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.terms span {
  cursor: default;
}

.newsletter-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.email-input-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 74px;
  background: #fff;
  border: none;
  outline: none;
  flex-grow: 1;
}

.email-input-container i {
  color: rgba(128, 128, 128, 1);
  margin-right: 8px;
}

.email-input {
  border: none;
  outline: none;
  flex-grow: 1;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.consent-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* gap: 170px; */
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000;
  font-family: Albert Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.checkbox-container input {
  opacity: 0;
  position: absolute;
}

.checkbox-container .checkmark {
  height: 20px;
  width: 20px;
  border: 2px solid #000;
  border-radius: 4px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-container input:checked ~ .checkmark {
  color: #000;
}

.checkbox-container .checkmark:after {
  content: "";
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  width: 2px;
  height: 6px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.submit-button {
  border-radius: 60px;
  background: linear-gradient(
    271deg,
    #2d6465 -11.45%,
    #3a806b -11.45%,
    #67de7f 123.02%
  );
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .newsletter {
    background: linear-gradient(
      270deg,
      rgba(103, 222, 127, 0.2) 0%,
      rgba(62, 137, 217, 0.2) 100%
    );
    border-radius: 0;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
  }

  .newsletter-content {
    flex: 1;
    color: #000;
    font-family: Albert Sans;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .terms {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .consent-form {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 10px;
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  /* .consent-form .submit-button{
    width: 100%;
    margin: auto;
    text-align: center;
  } */

  .consent-form .submit-button {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center; /* Ye text ko horizontally center karega */
    align-items: center; /* Ye text ko vertically center karega */
  }

  .checkbox-container {
    text-align: left;
  }
}
