.grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 88px;
  row-gap: 60px;
  /* padding: 16px; */
  padding: 50px 0;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
