.footer {
  background: #17355d;
  padding: 50px;
  width: 100%;
}

.footerTitle {
  color: #edf6fd;
  text-align: center;
  font-family: Albert Sans;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 35px;
}

.description {
  color: #edf6fd;
  font-family: Albert Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.chatButton {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  border-radius: 32px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  margin-bottom: 50px;
}

.footerBottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.copy {
  color: #edf6fd;
  text-align: right;
  font-family: Albert Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .chatButton {
    max-width: 430px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .footerTop {
    max-width: 780px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    max-width: 1654px;
    margin: 0 auto;
    border-radius: 38px;
    padding: 80px;
    width: 100%;
  }

  .footerBottom {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .copy {
    margin-bottom: 0;
  }
}
