@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;600;700&family=Inter:wght@400;600;700&display=swap");

:root {
  --primary-color: #17355d;
  --background-linear-gradient-start: rgba(98, 211, 146, 0.1);
  --background-linear-gradient-end: rgba(70, 153, 248, 0.1);
  --background-color: #fff;
  --font-family-inter: "Inter", sans-serif;
  --font-family-albert: "Albert Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family-albert);
  color: var(--primary-color);
  font-size: 16px;
  background: #fff;
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}

textarea:focus-visible,
input:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.wrapper {
  height: 100%;
  max-width: 1728px;
  margin: auto;
}

.container {
  max-width: 1628px;
  margin-left: auto;
  margin-right: auto;
}

.gradient-bg {
  background: linear-gradient(
    270deg,
    rgba(103, 222, 127, 0.2) 0%,
    rgba(62, 137, 217, 0.2) 100%
  );
}

.btn-primary {
  border-radius: 60px;
  background: linear-gradient(
    271deg,
    #2d6465 -11.45%,
    #3a806b -11.45%,
    #67de7f 123.02%
  );
  text-decoration: none;
  padding: 10px 25px;
  color: #fff;
  font-family: Albert Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: min-content;
  gap: 6px;
}

.btn-icon {
  width: 20px;
}

.error {
  border: 1px solid red;
}

/* .swiper {
  padding: 100px 0 !important;
} */

.swiper-wrapper {
  margin: 0 30px;
  padding: 70px 0 !important;
}

.swiper-button-next,
.swiper-button-prev {
  background: #000;
  color: #fff !important;
  padding: 30px;
  border-radius: 50%;
  filter: drop-shadow(0px 9px 26.5px rgba(0, 0, 0, 0.65));
}

.swiper-button-next {
  right: var(--swiper-navigation-sides-offset, -25px) !important;
  left: auto;
}

.swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, -25px) !important;
  left: auto;
}

.swiper-button-next:after,
.swiper-button-prev::after {
  font-size: 28px !important;
}

@media screen and (min-width: 1024px) {
  .swiper-slide-next {
    transform: scale(1.2) !important;
    transition: transform 0.3s ease-in-out;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background: linear-gradient(
        196deg,
        rgba(98, 211, 146, 0.1) 0%,
        rgba(70, 153, 248, 0.1) 100%
      ),
      #fff;
  }
}

.chevronRightIcon {
  width: 20px;
  stroke-width: 3px;
  stroke: #fff;
}

.minusIcon {
  width: 20px;
  stroke-width: 3px;
  transform: rotate(90deg);
}

.logoContainer {
  position: relative;
  width: 100%;
  height: 67.21px;
  margin-inline: auto;
}
