.testimonialCard {
  padding: 20px 15px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 55px 0px rgba(0, 0, 0, 0.11);
  flex-shrink: 0;
  z-index: 1;
  width: 293px;
  height: 222.904px;
}

.quote {
  color: #000;
  font-family: Albert Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 25px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileImage {
  border-radius: 50%;
  overflow: hidden;
  height: 55px;
  width: 55px;
  object-fit: cover;
  flex-shrink: 0;
}

.name {
  color: #000;
  font-family: Albert Sans;
  font-size: 20px;
  font-weight: 700;
}

.title {
  color: #7a7a7a;
  font-family: Albert Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
